{% extends "base2.html" %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container-fluid p-3 bg-dark text-white"
<h1> Edit News Item</h1>
</div>
<div class="container-fluid p-3"
<h3><a href="{{news_item.link}}" target="_blank" rel="noopener noreferrer">Link: {{ news_item.title }}</a></h3>

<h3>Synposis of the News item</h3>
<form action="{% url 'podcasts:edit_news_item' news_item.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">save changes</button>

</form>
</div>

<!-- Create are for the previous and next news items-->
<div class="container-fluid p-3">
    <h3><a href="http://127.0.0.1:8000/edit_news_item_links/{{prev_news_id}}/" >Previous News item</a></h3>
    <h3><a href="http://127.0.0.1:8000/edit_news_item_links/{{next_news_id}}/" >Next News item</a></h3>

</div>

{% endblock content %}