{% extends "base2.html" %}

{% block content %}
{% load static %}

<div class="container-fluid p-2 bg-dark text-white">
    <h3>Commentator: Sharing the News that Drives how you work</h3>
</div>
<div class="container-fluid p-2">
    <div class="row">
         <div class="col-md-2">
            <img src="{% static 'imgs/commentator.png' %}"
               class="img-fluid ml-3 my-3"
              alt="Commentator"
              width="200"
              height="200">

         </div>
         <div class="col-md-9">
            <p> The <em>Commentator</em> site provides multiple news sources for review and publication.</p>
            <p>The easy way to establish a sustainable web presence and generating insightful content.</p>
            <ol>
                <li> Provide Insights backed by the news that interests you</li>
                <li> Share resources with others that share your interests </li>
                <li> Provide more insight into who you are and how you work</li>
            </ol>
        </div>
    </div>
</div>

<div class="container-fluid p-2 bg-dark text-white">
    <h3>Latest Headlines</h3>
</div>

<div class="container-fluid p-3 ">
    <p>Short list of either new stories or last few publications for the logged in user</p>
</div>




{% endblock content %}