{% extends "base2.html" %}

{% block content %}
<div class="container-fluid p-2 bg-dark text-white">
    <h3>Let me be your SME: Sharing News and Insights</h3>
</div>
<div class="container-fluid p-2">
    <p> The <em>Be My SME</em> site provides multiple news sources for review and publication.</p>
    <p> Your Brand: Re-publishing the news that you follow and your insights help connect with people who: </p>
    <ol>
        <li> Face the same problems</li>
        <li> Share the same interests and insights </li>
        <li> Find new insights through the information and analysis you share.</li>
    </ol>
</div>

<div class="container-fluid p-2 bg-dark text-white">
    <h3>Latest Headlines</h3>
</div>

<div class="container-fluid p-3 ">
    <p>Short list of either new stories or last few publications for the logged in user</p>
</div>




{% endblock content %}