{% extends 'base2.html' %}

{% block content %}

    {% load static %}
<div class="container-fluid p-2 ps-4 bg-dark text-white">
    <h3> Publication: {{ pub_item.title }}</h3>
</div>

<div class="container-fluid p-2 ps-4 ">
     <div class="row">
          <section class="card mb-4">
            <div class="row ps-2 no-gutters">
              <div class="col-md-4  my-auto">
                <img
                  src="{%static 'imgs/' %}{{ pub_item.image_file}}"
                  class="img-fluid ml-3 my-3"
                  alt="{{ image.source_name }}"
                  width="600"
                  height="600"
                />
                  <p>Image Source: {{ pub_item.image_source }}</p>
              </div>
            <div class="col-md-8">
                <div class="card-body ml-3">
                    <p>
                        {% autoescape off %}
                        {{ pub_item.description }}
                        {% endautoescape %}
                    </p>
                </div>
            </div>

                <p>
                    <!-- link to edit the entry -->
                    <a href="{% url 'podcasts:article_edit' pub_item.id %}"> Edit entry</a>
                </p>
                <p>
                    <!-- Link to add mappings page -->
                    <a href="{% url 'podcasts:article_map_stories' pub_item.id %}"> Link more stories</a>
                </p>
                <p>
                    <!-- Link to view Static Version of page-->
                    <a href="{% url 'podcasts:pub_item_static' pub_item.id %}"> View Static Page</a>
                </p>
          </section>
    </div>
</div>





<div class="container-fluid p-2 ps-4 bg-dark text-white">
    <h3> Linked News Stories</h3>
</div>

<!--            <p> Stories {{ l_stories }}</p>-->

<div class="container-fluid p-2 ps-4 ">
<!--    {% for news_item in news_items %}-->
<!--        <p>{{ news_item.news_item_id }}</p>-->
<!--    {% endfor %}-->

        {% for newsitem in l_stories %}
        <section class="card mb-3">
            <div class="row ps-2 no-gutters">
              <div class="col-md-2  my-auto">
                <img
                  src="{{ newsitem.image }} "
                  class="img-fluid ml-3 my-3"
                  alt="{{ image.source_name }}"
                  width="200"
                  height="200"
                />
              </div>
              <div class="col-md-10">
                <div class="card-body ml-3">
                  <h3 class="card-item-link" ><a href="{{ newsitem.link }}" target="_blank" rel="noopener noreferrer">{{ newsitem.title }}</a></h3>
<!--                      <span class="fa fa-star checked"></span>-->
<!--                      <span class="fa fa-star checked"></span>-->
<!--                      <span class="fa fa-star checked"></span>-->
<!--                      <span class="fa fa-star"></span>-->
<!--                      <span class="fa fa-star"></span>-->
                  <p class="card-item-source">Source: {{ newsitem.source_name }}  :  Pub Date: {{ newsitem.pub_date }}</p>


                  <h5> Synposis</h5>
                    <p class="card-text">
                        {% autoescape off %}
                        {{ newsitem.comment }}
                        {% endautoescape %}
                    </p>

                  </a>
                </div>
              </div>
            </div>
        {% endfor %}

</div>

{% if b_debug_mode %}
    <p> The static_website directory is {{ fd_static_website_root}}</p>
{% endif %}

{% endblock content %}
